{% extends 'layout.html'%}
{% block body %}
<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAucAAAAJDRlMDJmZWU2LTBjYjgtNDQ5MS04ZTViLWQ3MmE4YzY3ZjUwMA.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" >
<h1>My resume</h1>
<p class="lead">
  <h2>Additional Qualification / Achievements / Certifications:</h2></br></br>
1)All India rank in top 2 percentile in NPTEL exam on Modern Application Development.</br>
2)Deputy Head of Public Relations and content writer for www.indiansnews.com </br>
3)Summer Intern at Indian Railways in accounts department of RNC division.</br>
4)2+ years of experience in Linux environment, Github, testing APIs using Postman and communicating over Slack.</br>
5)NPTEL certification:-</br>
(i)Programing, Data Structures and Algorithms in Python </br>
(ii)Design and Analysis of Algorithms </br>
(iii) Programming in C </br>
6)Represented school twice at Jawaharlal Nehru National Science Exhibition, twice in 	Social Science exhibition and  won several competitions like debate, poem composition,quiz. </br>
7)Played Basketball at cluster level, Cricket at district level of CAB and Dwitya Sopan scout 	of Bharat Scout and Guide. </br>
8)Active member of tech-fest  in Management, PR and anchoring at several fests. </br>
9)Held various positions of responsibility in school including House Captain, literary captain. </br>

</p>
<p class="text-center">
  <h2>Subjects of Interest:</h2></br></br>
 1)Web-app development.</br>
 2)Data Structure </br>
</p>

<p class="lead">
<h2>Computer Proficiency:</h2></br></br>
1)Python 3</br>
2)C</br>
3)Flask</br>
</p>

<p class="lead">
<h2>Personal Details:</h2></br></br>
1) Date of Birth		: 11/02/1996</br>
2) Gender	          : Male</br>
3) Languages Known	: English, Bengali, Hindi</br>
</p>
{% endblock %}
